@import "./utils/mixin";
@import "./utils/variable";
@import "./animations/animations";
@import "./layout/layout";
@import "./components/components";

body {
    overflow-x: hidden;
    margin:0;
    padding:0 0%;
    box-sizing: border-box;
    margin: auto;
    max-width:767px;
    font-family:"Roboto", sans-serif;
    position: inherit;
    background-color:#F6F6F6;
}
//Début loading page//
.loadercontainer {
@include loadercontainer;

    .lettre {
        color:#484848;
        font-size:7.5vw;
        letter-spacing: 15px;
        margin-bottom: 145px;
        animation:flash linear 0.7s infinite;
     }
}
//fin loading page//

//HEADER//
.header {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    &__icon{
        font-weight: 800;
        text-rendering: auto;
        position:absolute;
        left:5%;
        font-size:17px;
    }
    &__logo{
        width:35vw;
        padding:1.3rem 0rem;
        font-family:"shrikhand", sans-serif;
    }
}
//HEADER//

//Début section//

section {
    width:100%;
    background-color:#F6F6F6;
    height:1350px;
    display:flex;
    flex-direction: column;
    border-radius:42px 42px 0px 0px;
    transform: translateY(-50px);
}
.image{
    width:100%;
}
.section__menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:relative;

    &__title {
        padding-left:3%;
        font-family:"shrikhand", sans-serif;
    }
    
    &__icon {
        padding-right:8%;
        font-size:20px;
        box-sizing: border-box;
        }
}

//animation du coeur//
.iconic {
    fill: transparent;
    stroke:black;
    stroke-width:30;
    cursor: pointer;
    position: relative; 
    margin-right: 20px;

  }
  .iconic:hover {
      stroke:#ff2581;
  }
  svg {
    overflow: visible;
    width:2rem;
  }
  path {
    stroke-dashoffset: 0px;
    stroke-dasharray: 1600px;
    transform-origin: center;
  }
  .hearttwo {
    position:absolute;
    left: 0;
    right:0;
    z-index: -1;
    stroke:none;
  }
  .heartone:hover path {
     animation: anime 2s ease-in-out forwards;
  }
  .heartone:hover ~ .hearttwo path {
    animation: animetwo 2s ease-in-out forwards;
  }
//fin de l'animation des coeurs//

.titlemenu {
    padding-left:7%;
    padding-bottom:2%;
    padding-top:6%;
    font-weight: bold;
}
.underlinemenu {
    background-color:#99E2D0;
    width:40px;
    height:5px;
    margin: 5px 0 0 0;
    padding:0px;
}
.article__menu {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:300px;
}
.article__menu__food {
 @include articlemenufood;
}
.article__menu__food__mixture{
    font-size:16px;
    font-weight:900;
}
.article__menu__food:hover .article__menu__food__mixture {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
}

//début de la partie animation des menus//

.article__menu__food--height {
    height:20%;
}
.article__menu__food--delay0 {
    animation-delay: 100ms;
}
.article__menu__food--delay1 {
    animation-delay: 400ms;
}
.article__menu__food--delay2 {
    animation-delay: 800ms;
}
.article__menu__food .food  {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.article__menu__food:hover .article__menu__food__mixture {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
}
.article__menu__food:hover .food {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width:70%;
    font-size: 12.5px;
}
.article__menu__food div > .food {
    white-space:normal;
    text-overflow:initial;
    overflow:initial;
    width:100%;
}

.article__menu__food__price {
    transition-duration: 500ms;
}
.article__menu__food:hover .article__menu__food__price {
    margin-right: 17%;
    transition-duration: 500ms;
}
.article__menu__food:hover .menucheck {
    visibility: visible;
    transition-duration: 400ms;
    width: 17%;
    overflow-y: hidden;
}
.article__menu__food:hover .menucheck__icon {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition-duration: 400ms;
    transform: rotate(360deg);
}
.article__menu__food:hover .menucheck__icon > i {
    transition-duration: 500ms;
    transform: rotate(360deg);
    font-size:22px;
}

.menucheck {
    visibility: hidden;
    position:absolute;
    width:0%;
    height:100%;
    right:0%;
    display: flex;
    justify-content: center;
    border-radius: 0rem 1rem 1rem 0rem;
    background: #99E2D0;
    transition: 400ms;

    &__icon {
    font-size: 1.3rem;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition-duration: 400ms;
    transform: rotate(360deg);
    color: #FFFFFF;
    }
}

.menucheck__icon > i {
    transition:rotate(360deg);
    transition-duration: 1000ms;
    font-size: 0rem;
}
//fin de la partie animation des menus//    

//fin de section//

