@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@-webkit-keyframes loader {
  100% {
    z-index: -10;
    opacity: 0;
  }
}

@keyframes loader {
  100% {
    z-index: -10;
    opacity: 0;
  }
}

@-webkit-keyframes flash {
  0% {
    color: white;
    text-shadow: 0 0 7px #fff900;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: black;
    text-shadow: 0 0 7px #fff900;
  }
}

@keyframes flash {
  0% {
    color: white;
    text-shadow: 0 0 7px #fff900;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: black;
    text-shadow: 0 0 7px #fff900;
  }
}

@-webkit-keyframes anime {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 800;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    fill: #ff2581;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3200;
    fill: #ff2581;
  }
}

@keyframes anime {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 800;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    fill: #ff2581;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3200;
    fill: #ff2581;
  }
}

@-webkit-keyframes animetwo {
  70% {
    fill: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    fill: #ff7eb4;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes animetwo {
  70% {
    fill: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    fill: #ff7eb4;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    opacity: 0;
  }
}

@-webkit-keyframes menuAppear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes menuAppear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.footer {
  background-color: #353535;
  padding: 25px 25px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.footer .logofooter {
  font-size: 25px;
  width: 100%;
  margin: 0px 0px 8px 0px !important;
  font-family: "Shrikhand", sans-serif;
}

.footer .footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__icon .footer__icon__font {
  padding-right: 8px;
  margin: 0px;
}

.footer a {
  cursor: pointer;
  color: white;
}

.footer a:hover {
  color: #99E2D0;
}

.footer > div {
  margin: 4px 0;
}

a {
  text-decoration: none;
  color: black;
}

.home .home__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 230px;
  height: 50px;
  padding: 5.5% 5.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4rem;
  border: transparent;
  font-size: 1rem;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  color: white;
  -webkit-box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.3);
  margin-top: 4%;
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  cursor: pointer;
}

.home .home__btn:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: -webkit-transform 150ms, -webkit-box-shadow 150ms;
  transition: -webkit-transform 150ms, -webkit-box-shadow 150ms;
  transition: transform 150ms, box-shadow 150ms;
  transition: transform 150ms, box-shadow 150ms, -webkit-transform 150ms, -webkit-box-shadow 150ms;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttoncommande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 50px;
  padding: 5% 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4rem;
  border: transparent;
  font-size: 1rem;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  color: white;
  -webkit-box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.3);
  margin-top: 11%;
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.buttoncommande:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: -webkit-transform 150ms, -webkit-box-shadow 150ms;
  transition: -webkit-transform 150ms, -webkit-box-shadow 150ms;
  transition: transform 150ms, box-shadow 150ms;
  transition: transform 150ms, box-shadow 150ms, -webkit-transform 150ms, -webkit-box-shadow 150ms;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  max-width: 767px;
  font-family: "Roboto", sans-serif;
  position: inherit;
  background-color: #F6F6F6;
}

.loadercontainer {
  overflow-x: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
  -webkit-animation: loader 0.6s;
          animation: loader 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  -webkit-animation-delay: 0.50s;
          animation-delay: 0.50s;
}

.loadercontainer .lettre {
  color: #484848;
  font-size: 7.5vw;
  letter-spacing: 15px;
  margin-bottom: 145px;
  -webkit-animation: flash linear 0.7s infinite;
          animation: flash linear 0.7s infinite;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.header__icon {
  font-weight: 800;
  text-rendering: auto;
  position: absolute;
  left: 5%;
  font-size: 17px;
}

.header__logo {
  width: 35vw;
  padding: 1.3rem 0rem;
  font-family: "shrikhand", sans-serif;
}

section {
  width: 100%;
  background-color: #F6F6F6;
  height: 1350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 42px 42px 0px 0px;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.image {
  width: 100%;
}

.section__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section__menu__title {
  padding-left: 3%;
  font-family: "shrikhand", sans-serif;
}

.section__menu__icon {
  padding-right: 8%;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.iconic {
  fill: transparent;
  stroke: black;
  stroke-width: 30;
  cursor: pointer;
  position: relative;
  margin-right: 20px;
}

.iconic:hover {
  stroke: #ff2581;
}

svg {
  overflow: visible;
  width: 2rem;
}

path {
  stroke-dashoffset: 0px;
  stroke-dasharray: 1600px;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.hearttwo {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
}

.heartone:hover path {
  -webkit-animation: anime 2s ease-in-out forwards;
          animation: anime 2s ease-in-out forwards;
}

.heartone:hover ~ .hearttwo path {
  -webkit-animation: animetwo 2s ease-in-out forwards;
          animation: animetwo 2s ease-in-out forwards;
}

.titlemenu {
  padding-left: 7%;
  padding-bottom: 2%;
  padding-top: 6%;
  font-weight: bold;
}

.underlinemenu {
  background-color: #99E2D0;
  width: 40px;
  height: 5px;
  margin: 5px 0 0 0;
  padding: 0px;
}

.article__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
}

.article__menu__food {
  background-color: white;
  border: 1px solid transparent;
  width: 85%;
  height: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0% 3%;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-animation-name: menuAppear;
          animation-name: menuAppear;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.article__menu__food__mixture {
  font-size: 16px;
  font-weight: 900;
}

.article__menu__food:hover .article__menu__food__mixture {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
}

.article__menu__food--height {
  height: 20%;
}

.article__menu__food--delay0 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.article__menu__food--delay1 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.article__menu__food--delay2 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.article__menu__food .food {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.article__menu__food:hover .article__menu__food__mixture {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
}

.article__menu__food:hover .food {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 70%;
  font-size: 12.5px;
}

.article__menu__food div > .food {
  white-space: normal;
  text-overflow: initial;
  overflow: initial;
  width: 100%;
}

.article__menu__food__price {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.article__menu__food:hover .article__menu__food__price {
  margin-right: 17%;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.article__menu__food:hover .menucheck {
  visibility: visible;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  width: 17%;
  overflow-y: hidden;
}

.article__menu__food:hover .menucheck__icon {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.article__menu__food:hover .menucheck__icon > i {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  font-size: 22px;
}

.menucheck {
  visibility: hidden;
  position: absolute;
  width: 0%;
  height: 100%;
  right: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0rem 1rem 1rem 0rem;
  background: #99E2D0;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.menucheck__icon {
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: #FFFFFF;
}

.menucheck__icon > i {
  -webkit-transition: rotate(360deg);
  transition: rotate(360deg);
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  font-size: 0rem;
}
/*# sourceMappingURL=menu.css.map */