body{
    overflow-x: hidden;
    margin:0;
    padding:0 0%;
    box-sizing: border-box;
    margin: auto;
    max-width:767px;
    font-family:"Roboto", sans-serif;
    position: inherit;
    background-color:#F6F6F6;
}
//Début loading page//
.loadercontainer {
    position:fixed;
    height:100%;
    width: 100%;
    left:0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:10000;
    animation:loader 0.6s;
    animation-fill-mode: both;
    background: linear-gradient(175deg,#FF79DA 10%,#9356DC 95%);
    animation-delay: 0.35s;

    .lettre {
        color:#484848;
        font-size:7.5vw;
        letter-spacing: 15px;
        margin-bottom: 145px;
        animation:flash linear 0.7s infinite;
     }
}
//fin loading page//