//FOOTER//

.footer {
    background-color:#353535;
    padding:25px 25px 35px;
    display:flex;
    flex-direction: column;
    color:white;

    .logofooter {
        font-size: 25px;
        width:100%;
        margin: 0px 0px 8px 0px !important;
        font-family: "Shrikhand", sans-serif;
    }
    .footer__icon {
        display:flex;
        align-items: center;
    
        .footer__icon__font {
            padding-right:8px;
            margin: 0px;
        }
    }
}
.footer a {
    cursor: pointer;
    color:white;
}
.footer a:hover{
    color: #99E2D0;
}
.footer > div {
    margin: 4px 0;
}

a {
    text-decoration: none;
    color:black;
}
