//BOUTON ACCUEIL//

.home .home__btn {
    @include homebtn;
     
        &:hover {
        transform: scale(0.98);
        transition:transform 150ms, box-shadow 150ms;
        background:linear-gradient(175deg,#FF79DA 100%,#9356DC 0%);
        }
}

//BUTTON MENU//

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttoncommande {
@include buttoncommande;

    &:hover {
    transform: scale(0.98);
    transition:transform all 150ms;
    background:linear-gradient(175deg,#FF79DA 100%,#9356DC 0%);
    }
}